.cover__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 740px;
    max-width: 1184px;
    background-image: url(../../../images/Bajkal.png);
    background-repeat: no-repeat;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    background-position: center center;
    position: relative;
    z-index: 1;
    margin: 0 48px;
}

.cover__item::before {
    content: '';
    background-color: #2A2C2F;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.3;
    transition: opacity 3s ease-in-out;
}

.cover__item:hover::before {
    opacity: 0.8;
}

@media screen and (max-width: 1140px) {
    .cover__item {
        margin: 0;
        min-height: 640px;
    }
}

@media screen and (max-width: 984px) {
    .cover__item {
        min-height: 480px;
    }
}

@media screen and (max-width: 568px) {
    .cover__item {
        min-height: 200px;
    }
}